body {
    background: rgb(200, 190, 218);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

h1 {
    color: rgb(91, 27, 187);
    font-family: Open , Helvetica, sans-serif;
}

label {
    color: rgb(153, 43, 226);
    font-size: 30px;

}

input {
    width: 80%;
    margin: 0  auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 50px;
}

input[type=submit] {
    background: #a26100;
    text-align: center;
    font-size: large;
    width: 10%;
    
}

