{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Pintura</title>
</head>
<body>
<br>
<h1>VAMOS CALCULAR A TINTA</h1>
<br>
<br>

    <div class="container">

        <form action="/pintura/calculo_pintura/" method="POST">{% csrf_token %}
            <label for="">Digite em metros...</label>
            <br>
            <input class="form-control" type="number"step="0.010" placeholder="Largura"  name="Largura" id="">
            <br>
            <br>
            <input class="form-control" type="number" step="0.010" placeholder="Comprimento"  name="Comprimento" id="">
            <br>
            <br>
            <input class="form-control" type="number" step="0.010" placeholder="Rendimento da tinta"  name="Rendimento" id="">
            <br>
            <br>
            <input type="submit" value="Multiplicar">
        </form>
    </div>
</body>
</html>